## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [2]:
import pandas as pd

# загрузите датасет
df = pd.read_csv('vgsales.csv')

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [3]:
# Find unique games count
df['Name'].nunique()

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [15]:
# ваш код здесь
# Find total sales in Japan
df['JP_Sales'].sum()

1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [16]:
# ваш код здесь
# Find top 3 genres in NA
df.groupby('Genre')['NA_Sales'].sum().sort_values(ascending=False).head(3)

Genre
Action     877.83
Sports     683.35
Shooter    582.60
Name: NA_Sales, dtype: float64

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [17]:
# ваш код здесь
# Find top platform in 2000
df[df['Year'] == 2000].groupby('Platform')['Name'].count().sort_values(ascending=False).head(1)

Platform
PS    159
Name: Name, dtype: int64

In [19]:
# Find top platform in 2015
df[df['Year'] == 2015].groupby('Platform')['Name'].count().sort_values(ascending=False).head(1)

Platform
PS4    137
Name: Name, dtype: int64

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [20]:
# ваш код здесь
# Find top publisher in 2012-2015
df[(df['Year'] >= 2012) & (df['Year'] <= 2015)].groupby('Publisher')['Name'].count().sort_values(ascending=False).head(1)

Publisher
Namco Bandai Games    285
Name: Name, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [21]:
# ваш код здесь
# Find percentage of sport games sold in Europe
df[df['Genre'] == 'Sports']['EU_Sales'].sum() / df['EU_Sales'].sum() * 100

15.481917563975633